@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --bg-color-200: #5F5F5F;
  --bg-color-300: #393939;
  --bg-color-400: #242424;
  --main-accent-color-300: #95ddba;
  --main-accent-color-400: #37FF9F;
  --second-accent-color-300: #e1c8ec;
  --second-accent-color-400: #5E416B;
  --text-color-300: #FFFFFF;
  --text-color-400: #C5C5C5;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color-300);
}

textarea {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

p {
  color: var(--text-color-400);
}

.nav-container, .hero, section {
  padding: 2em;
}

.nav-container {
  background: var(--bg-color-300);
  position: -webkit-sticky;
  /* Safari */
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container header .logo {
  color: var(--main-accent-color-400);
  font-weight: bold;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container header ul a {
  display: block;
  padding: 0 .3em;
}

.nav-container header ul a:hover {
  color: var(--main-accent-color-300);
}

.nav-container .social-header {
  display: none;
}

.black_tortoid, .black_cube {
  display: none;
}

.hero {
  background: var(--bg-color-400);
  color: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 90vh;
  padding-top: 10vh;
}

.hero .scroll {
  width: 3em;
  margin-top: 5em;
}

section {
  background: var(--bg-color-400);
  color: var(--text-color-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 90vh;
  padding: 2em;
}

.featured {
  background: var(--second-accent-color-400);
}

.featured .subtitle {
  color: var(--second-accent-color-300);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: -.2em;
}

.featured a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1em;
}

.featured a:hover {
  color: var(--main-accent-color-300);
}

.featured .featured-desc {
  line-height: 3em;
  text-align: justify;
}

.featured .right {
  margin-top: 3em;
}

.featured img {
  -webkit-box-shadow: .2em .2em .5em black;
          box-shadow: .2em .2em .5em black;
}

.skills .title h1 {
  letter-spacing: .1em;
}

.skills .title p {
  margin-top: -2em;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills ul li {
  width: 6em;
  height: 6em;
  margin: 1em;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: var(--bg-color-300);
}

.skills ul li img {
  width: 5em;
}

.skills ul li p {
  display: none;
  font-weight: bold;
  color: var(--text-color-300);
}

.skills ul li:hover {
  position: relative;
}

.skills ul li:hover img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.skills ul li:hover .skill_title {
  display: unset;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 2em;
  text-align: center;
}

.skills .bottom p {
  font-weight: bold;
  letter-spacing: .2em;
  margin-bottom: 2em;
}

.skills .bottom a {
  font-weight: bold;
  background: var(--bg-color-300);
  border-radius: 2em;
  padding: 1em;
}

.about {
  background: var(--bg-color-200);
}

.about .title h1 {
  letter-spacing: .1em;
}

.about .title p {
  margin-top: -2em;
}

.about .desc {
  color: var(--text-color-300);
  line-height: 2em;
  text-align: justify;
}

.about img {
  width: 15em;
  border-radius: 50%;
  -webkit-box-shadow: .2em .2em .5em black;
          box-shadow: .2em .2em .5em black;
}

.contact .title h1 {
  letter-spacing: .1em;
}

.contact .title p {
  margin-top: -2em;
}

.contact .contact-form {
  width: 100%;
}

.contact label {
  color: var(--text-color-400);
  display: block;
  text-align: left;
  padding: .8em .2em .2em .2em;
}

.contact input[type=text], .contact input[type=email], .contact textarea {
  border-radius: .5em;
  width: 100%;
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.contact input[type=button] {
  display: block;
  margin: auto;
  background: var(--main-accent-color-400);
  color: var(--bg-color-400);
  border: none;
  border-radius: 2em;
  margin-top: 1em;
  padding: 1em 2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
}

footer {
  background: var(--bg-color-300);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-header ul a {
  display: block;
  padding: .7em;
}

.social-header ul a i {
  font-size: 1.5em;
}

.social-header ul a:hover i {
  color: var(--main-accent-color-300);
}

@media only screen and (min-width: 800px) {
  .featured, .skills, .about, .contact {
    text-align: left;
    height: auto;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container nav {
    margin-left: 1em;
  }
  .nav-container .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container .social-header ul a {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .nav-container .social-header ul img {
    width: 1em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100vh;
  }
  .hero .left {
    z-index: 1;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .hero .left .content {
    text-align: left;
  }
  .hero .hero-design {
    display: unset;
    width: 60%;
    position: absolute;
    right: 0;
    top: 2em;
  }
  .hero .scroll {
    margin-top: 2em;
  }
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .featured .left {
    padding-right: 1em;
  }
  .skills {
    position: relative;
    z-index: 1;
  }
  .skills .title {
    width: 100%;
  }
  .skills .content {
    width: 50%;
  }
  .skills .black_tortoid {
    display: unset;
    position: absolute;
    z-index: -1;
    min-width: 20em;
    max-width: 25em;
    right: 5em;
    top: 5em;
  }
  .skills .bottom {
    margin-top: 3em;
    text-align: center;
  }
  .about {
    position: relative;
  }
  .about .title {
    width: 100%;
  }
  .about .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .about .desc {
    padding: 2em 2em 2em 0;
  }
  .about .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .right img {
    width: 20em;
    cursor: pointer;
  }
  .contact {
    position: relative;
    z-index: 2;
  }
  .contact .title {
    width: 100%;
  }
  .contact .black_cube {
    display: unset;
    position: absolute;
    width: 20em;
    z-index: -1;
    top: -2em;
    left: -2em;
  }
  .contact .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .split .left {
    width: 100%;
    margin-right: 2em;
  }
  .contact .split .right {
    width: 100%;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 4em;
  }
}

@media only screen and (min-width: 1300px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 6em;
  }
  h1, .featured a {
    font-size: 3rem;
  }
  header, p, label, input, textarea {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1500px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 8em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
}

.black_tortoid, .black_cube {
  animation: floatAnim 2s infinite alternate-reverse;
}

@-webkit-keyframes floatAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}

@keyframes floatAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}
/*# sourceMappingURL=styles.css.map */