@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

.title {

    h1 {
        font-size: 2em;
    }

    p {
        color: #C5C5C5;
        letter-spacing: .2em;
        margin-top: -2em;
    }
}

.nav-container {
    background: #393939;
    padding: 2em;

    header {
        display: flex;
        justify-content: space-between;
    
        .logo {
            color: #37FF9F;
            font-weight: bold;
        }
    
        ul {
            display: flex;
    
            a {
                display: block;
                padding: 0 .5em;
            }
        }
    }

}




.social-header, .hero-design, .black_tortoid, .black_cube {
    display: none;
}

.hero {
    background: #242424;
    color: white;
    display: grid;
    text-align: center;
    padding: 2em;


    p {
        color: #C5C5C5;
    }

    .scroll {
        width: 2em;
        margin-top: 5em;
    }
}

.featured {
    background: #5E416B;
    text-align: center;
    padding: 2em;

    .subtitle {
        color: #37FF9F;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-size: .85em;
    }

    a {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: -.4em;
        letter-spacing: .1em;
        display: block;
    }

    .featured-desc {
        font-size: .85em;
        line-height: 2em;
        color: #C5C5C5;
    }

    .right {
        padding: 0 2em;
    }
    img {
        max-height: 15em;
        box-shadow: .2em .2em .5em black;
    }

}

.skills {
    background: #242424;
    color: white;
    text-align: center;
    padding: 2em;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 6em;
            height: 6em;
            margin: 1em;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
            display: grid;
            place-content: center;  
    
            .skill_title {
                display: none;
                font-weight: bold;
            }

            img {
                width: 5em;                
            }
        }
    }

    li:hover {

        img {
            display: none;
        }

        .skill_title {
            display: unset;

        }
    }

    .bottom {
        padding: 2em;
        
        p {
            color: #C5C5C5;
            font-weight: bold;
            letter-spacing: .2em;
        }
        a {
            color: white;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 2em;
            padding: 1em;
        }
    }
}

.about {
    background: #5F5F5F;
    color: white;
    text-align: center;
    padding: 2em;


    .desc {
        font-size: .85em;
        line-height: 2em;
    }

    img {
        width: 15em;
        border-radius: 50%;
        box-shadow: .2em .2em .5em black;
    }
}


.contact {
    background: #242424;
    color: white;
    text-align: center;
    padding: 2em;

    label {
        color: #C5C5C5;
        font-size: .85em;
        display: block;
        text-align: left;
        padding: .8em .2em .2em .2em;
    }

    input[type=text], input[type=email], textarea {
        border-radius: .5em;
        font-family: 'Poppins';
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        border: none;
    }
    
    input[type=button] {
        display: block;
        margin: auto;
        background: #37FF9F;
        color: black;
        border: none;
        border-radius: 2em;
        margin-top: 1em;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
    }
}

footer {
    background: #393939;
    padding: 2em 5em;
    text-align: center;

    a {
        color: #37FF9F;
    }

    span {
        margin-left: .5em;
        color: #37FF9F;
        cursor: pointer;
    }

    .social-header {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            width: 10em;
            a {
                display: block;
                padding: .7em;
                
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .featured, .skills, .about, .contact {
        text-align: left;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;

        nav {
            margin-left: 1em;
        }

        .social-header {
            display: flex;
            align-items: center;
    
    
            ul {
                display: flex;
                gap: 1em;
                
                a {
                    display: grid;
                    place-content: center;
                }
                img {
                    width: 1em;
                }
            }
        }
    }


    .hero {
        display: grid;
        grid-template-columns: 50% auto;

        .left {
            display: flex;
            align-items: center;

            .content {
                text-align: left;
            }
        }


        .hero-design {
            display: unset;
            width: 100%;
        }

        .scroll {
            margin-top: 2em;
        }
    }


    .featured {
        display: grid;
        grid-template-columns: 50% auto;

        .left {
            display: grid;
            place-content: center;
            margin-top: -4em;
        }
        .right {
            z-index: 2;
            img {
                max-height: 100%;
            }
        }
    }

    .skills {
        position: relative;
        margin-top: -4em;
        z-index: 1;

        .black_tortoid {
            display: unset;
            position: absolute;
            z-index: -1;
            min-width: 20em;
            max-width:  25em;
            right: 5em;
            top: 5em;

        }
        .bottom {
            text-align: center;
        }  
    }


    .about {
        display: grid;
        grid-template-columns: 60% auto;
        

        .left{
            display: grid;
            place-content: center;
        }

        .right {
            padding-left: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                cursor: pointer;
            }
        }
        
    }

    .contact {
        position: relative;
        z-index: 2;

        .black_cube {
            display: unset;
            position: absolute;
            width: 20em;
            z-index: -1;
            top: -2em;
            left: -2em;
        }

        .contact-form {
            padding: 0 10vw;
        }

        .split {
            display: flex;
            gap: 1em;

            .left, .right {
                flex-grow: 1;
            }
        }

    }   
}

@media only screen and (min-width: 1000px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 4em;
    }
}

@media only screen and (min-width: 1300px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 6em;
    }

    h1 {
        font-size: 3em;
    }

    .featured a, .skills h1, .about h1, .contact h1 {
        font-size: 2.5em;
    }

    .featured .subtitle {
        font-size: 1.5em;
    }

    .nav-container {

        a{
            font-size: 1.5em;
        }


    }

}

@media only screen and (min-width: 1500px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 8em;
    }
}



//Animation
.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(0px, 26px);
    }
}

.black_tortoid, .black_cube {
    animation: floatAnim 2s infinite alternate-reverse;
}

@keyframes floatAnim {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(0px, 30px);
    }
}