@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


:root {
    --bg-color-200: #5F5F5F;
    --bg-color-300: #393939;
    --bg-color-400: #242424;
    --main-accent-color-300: #95ddba;
    --main-accent-color-400: #37FF9F;
    --second-accent-color-300: #e1c8ec;
    --second-accent-color-400: #5E416B;
    --text-color-300: #FFFFFF;
    --text-color-400: #C5C5C5;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-300);
}

textarea {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

p {
    color: var(--text-color-400);
}

.nav-container, .hero, section {
    padding: 2em;
}

.nav-container {
    background: var(--bg-color-300);
    position: -webkit-sticky; /* Safari */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            color: var(--main-accent-color-400);
            font-weight: bold;
        }
    
        ul {
            display: flex;
            justify-content: space-between;
    
            a {
                display: block;
                padding: 0 .3em;
            }
            a:hover {
                color: var(--main-accent-color-300);
            }
        }
    }
    .social-header {
        display: none;
    }
}

.black_tortoid, .black_cube {
    display: none;
}


.hero {
    background: var(--bg-color-400);
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 90vh;
    padding-top: 10vh;

    .scroll {
        width: 3em;
        margin-top: 5em;
    }
}

section {
    background: var(--bg-color-400);
    color: var(--text-color-300);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;
    padding: 2em;
}

.featured {
    background: var(--second-accent-color-400);
    
    .subtitle {
        color: var(--second-accent-color-300);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .3em;
        margin-bottom: -.2em;
    }

    a {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .1em;
        &:hover {
            color: var(--main-accent-color-300);
        }
    }

    .featured-desc {
        line-height: 3em;
        text-align: justify;
    }

    .right {
        margin-top: 3em;
    }

    img {
        box-shadow: .2em .2em .5em black;
    }

    

}

.skills {
    
    .title {
        h1 {
            letter-spacing: .1em;
        }
        p {
            margin-top: -2em;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 6em;
            height: 6em;
            margin: 1em;
            border-radius: 50%;
            display: grid;
            place-content: center; 
            background: var(--bg-color-300);

            img {
                width: 5em;
            }

            p {
                display: none;
                font-weight: bold;
                color: var(--text-color-300);
            }

            &:hover {
                position: relative;

                img {
                    filter: blur(10px);
                    -webkit-filter: blur(10px);
                }
                .skill_title {
                    display: unset;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 2em;
                    text-align: center;
                }
            }
        }
    }

    .bottom {
        
        p {
            font-weight: bold;
            letter-spacing: .2em;
            margin-bottom: 2em;
        }

        a {
            font-weight: bold;
            background: var(--bg-color-300);
            border-radius: 2em;
            padding: 1em;
        }
    }

    
}

.about {
    background: var(--bg-color-200);

    .title {
        h1 {
            letter-spacing: .1em;
        }
        p {
            margin-top: -2em;
        }
    }

    .desc {
        color: var(--text-color-300);
        line-height: 2em;
        text-align: justify;
    }

    img {
        width: 15em;
        border-radius: 50%;
        box-shadow: .2em .2em .5em black;
    }
}


.contact {

    .title {
        h1 {
            letter-spacing: .1em;
        }
        p {
            margin-top: -2em;
        }
    }

    .contact-form {
        width: 100%;
    }

    label {
        color: var(--text-color-400);
        display: block;
        text-align: left;
        padding: .8em .2em .2em .2em;
    }

    input[type=text], input[type=email], textarea {
        border-radius: .5em;
        width: 100%;
        padding: .5em;
        box-sizing: border-box;
        border: none;
    }
    
    input[type=button] {
        display: block;
        margin: auto;
        background: var(--main-accent-color-400);
        color: var(--bg-color-400);
        border: none;
        border-radius: 2em;
        margin-top: 1em;
        padding: 1em 2em;
        font-weight: bold;
        cursor: pointer;
        -webkit-appearance: none;

    }
}

footer {
    background: var(--bg-color-300);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-header {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        
        a {
            display: block;
            padding: .7em;

            i {
                font-size: 1.5em;
            }
            &:hover {
                i {
                    color: var(--main-accent-color-300);
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .featured, .skills, .about, .contact {
        text-align: left;
        height: auto;
    }


    .nav-container {
        display: flex;
        justify-content: space-between;

        nav {
            margin-left: 1em;
        }

        .social-header {
            display: flex;
            align-items: center;
    
    
            ul {
                display: flex;
                justify-content: space-between;
                
                a {
                    display: grid;
                    place-content: center;
                }
                img {
                    width: 1em;
                }
            }
        }
    }


    .hero {
        display: flex;
        justify-content: left;
        height: 100vh;

        .left {
            z-index: 1;
            display: grid;
            place-content: center;

            .content {
                text-align: left;
            }
        }

        .hero-design {
            display: unset;
            width: 60%;
            position: absolute;
            right: 0;
            top: 2em;
        }

        .scroll {
            margin-top: 2em;
        }
    }


    .featured {
        display: grid;
        grid-template-columns: 40% auto;


        .left {
            padding-right: 1em;
        }


    }

    .skills {
        position: relative;
        z-index: 1;

        .title {
            width: 100%;
        }
        .content {
            width: 50%;
        }

        .black_tortoid {
            display: unset;
            position: absolute;
            z-index: -1;
            min-width: 20em;
            max-width:  25em;
            right: 5em;
            top: 5em;
        }

        .bottom {
            margin-top: 3em;
            text-align: center;
        }  
    }


    .about {
        position: relative;

        .title {
            width: 100%;
        }

        .container {
            display: grid;
            grid-template-columns: 50% auto;
        }

        .desc {
            padding: 2em 2em 2em 0;
        }

        .right {

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20em;
                cursor: pointer;
            }
        }
        
    }

    .contact {
        position: relative;
        z-index: 2;

        .title {
            width: 100%;
        }
        .black_cube {
            display: unset;
            position: absolute;
            width: 20em;
            z-index: -1;
            top: -2em;
            left: -2em;
        }


        .split {
            display: flex;
            justify-content: space-between;

            .left{
                width: 100%;
                margin-right: 2em;
            }
            .right {
                width: 100%;
                margin-left: 2em;
            }
        }

    }   
}

@media only screen and (min-width: 1000px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 4em;
    }
}

@media only screen and (min-width: 1300px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 6em;
    }

    h1, .featured a {
        font-size: 3rem;
    }

    header, p, label, input, textarea {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1500px) {
    .nav-container, .hero, .featured, .skills, .about, .contact {
        padding: 2em 8em;
    }
}



//Animation
.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(0px, 26px);
    }
}

.black_tortoid, .black_cube {
    animation: floatAnim 2s infinite alternate-reverse;
}

@keyframes floatAnim {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(0px, 30px);
    }
}