@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

section {
  background: #242424;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 90vh;
  padding: 10vh 2em 2em 2em;
}

.title h1 {
  font-size: 2em;
}

.title p {
  color: #C5C5C5;
  letter-spacing: .2em;
  margin-top: -2em;
}

.nav-container {
  background: #393939;
  padding: 2em;
  position: -webkit-sticky;
  /* Safari */
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container header .logo {
  color: #37FF9F;
  font-weight: bold;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header ul a {
  display: block;
  padding: 0 .5em;
}

.social-header, .hero-design, .black_tortoid, .black_cube {
  display: none;
}

.hero {
  background: #242424;
  color: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  height: 90vh;
  padding: 10vh 2em 2em 2em;
}

.hero p {
  color: #C5C5C5;
}

.hero .scroll {
  width: 2em;
  margin-top: 5em;
}

.featured {
  background: #5E416B;
  text-align: center;
  height: auto;
  padding: 2em;
}

.featured .subtitle {
  color: #37FF9F;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: .85em;
}

.featured a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -.4em;
  letter-spacing: .1em;
  display: block;
}

.featured .featured-desc {
  line-height: 2em;
  color: #C5C5C5;
}

.featured img {
  max-height: 15em;
  -webkit-box-shadow: .2em .2em .5em black;
          box-shadow: .2em .2em .5em black;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills ul li {
  width: 6em;
  height: 6em;
  margin: 1em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.skills ul li .skill_title {
  display: none;
  font-weight: bold;
}

.skills ul li img {
  width: 5em;
}

.skills .bottom {
  padding: 2em;
}

.skills .bottom p {
  color: #C5C5C5;
  font-weight: bold;
  letter-spacing: .2em;
  margin-bottom: 2em;
}

.skills .bottom a {
  color: white;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2em;
  padding: 1em;
}

.skills li:hover img {
  display: none;
}

.skills li:hover .skill_title {
  display: unset;
}

.about {
  background: #5F5F5F;
}

.about .desc {
  font-size: .85em;
  line-height: 2em;
}

.about img {
  width: 15em;
  border-radius: 50%;
  -webkit-box-shadow: .2em .2em .5em black;
          box-shadow: .2em .2em .5em black;
}

.contact .contact-form {
  width: 100%;
}

.contact label {
  color: #C5C5C5;
  display: block;
  text-align: left;
  padding: .8em .2em .2em .2em;
}

.contact input[type=text], .contact input[type=email], .contact textarea {
  border-radius: .5em;
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.contact input[type=button] {
  display: block;
  margin: auto;
  background: #37FF9F;
  color: black;
  border: none;
  border-radius: 2em;
  margin-top: 1em;
  padding: 1em 2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
}

footer {
  background: #393939;
  padding: 2em 5em;
  text-align: center;
}

footer a {
  color: #37FF9F;
}

footer span {
  margin-left: .5em;
  color: #37FF9F;
  cursor: pointer;
}

footer .social-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
}

footer .social-header ul a {
  display: block;
  padding: .7em;
}

@media only screen and (min-width: 800px) {
  .featured, .skills, .about, .contact {
    text-align: left;
    height: auto;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container nav {
    margin-left: 1em;
  }
  .nav-container .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 10em;
  }
  .nav-container .social-header ul a {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .nav-container .social-header ul img {
    width: 1em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    overflow: hidden;
  }
  .hero .left {
    z-index: 1;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .hero .left .content {
    text-align: left;
  }
  .hero .hero-design {
    display: unset;
    width: 60%;
    position: absolute;
    right: 0;
    top: 2em;
  }
  .hero .scroll {
    margin-top: 2em;
  }
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .featured .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-top: -4em;
  }
  .featured .right {
    z-index: 2;
  }
  .featured .right img {
    max-height: 100%;
  }
  .skills {
    position: relative;
    margin-top: -4em;
    z-index: 1;
  }
  .skills .title {
    width: 100%;
  }
  .skills .black_tortoid {
    display: unset;
    position: absolute;
    z-index: -1;
    min-width: 20em;
    max-width: 25em;
    right: 5em;
    top: 5em;
  }
  .skills .bottom {
    text-align: center;
  }
  .about {
    position: relative;
  }
  .about .title {
    width: 100%;
  }
  .about .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
  }
  .about .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .about .right {
    padding-left: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .right img {
    max-width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    -webkit-transform: translate(0, 25%);
            transform: translate(0, 25%);
  }
  .contact {
    position: relative;
    z-index: 2;
  }
  .contact .title {
    width: 100%;
  }
  .contact .black_cube {
    display: unset;
    position: absolute;
    width: 20em;
    z-index: -1;
    top: -2em;
    left: -2em;
  }
  .contact .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .split .left {
    width: 100%;
    margin-right: 2em;
  }
  .contact .split .right {
    width: 100%;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 4em;
  }
}

@media only screen and (min-width: 1300px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 6em;
  }
  h1 {
    font-size: 3em;
  }
  .featured a, .skills h1, .about h1, .contact h1 {
    font-size: 2.5em;
  }
  .featured .subtitle {
    font-size: 1.5em;
  }
  .nav-container a {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1500px) {
  .nav-container, .hero, .featured, .skills, .about, .contact {
    padding: 2em 8em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
}

.black_tortoid, .black_cube {
  animation: floatAnim 2s infinite alternate-reverse;
}

@-webkit-keyframes floatAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}

@keyframes floatAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}
/*# sourceMappingURL=styles.css.map */